<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <nav class="navbar is-primary">
                <div>
                    <p class="heading">Day {{timer.day}} of {{timer.season | seasonName}}, Year {{timer.year}}</p>
                    <p class="title">Kingdom Simulator</p>
                </div>
            </nav>
            <div class="level">
                <div v-for="(value, resource) in stats" class="level-item has-text-centered">
                    <div>
                        <p class="heading">{{resource}}</p>
                        <p class="title">{{value}}</p>
                    </div>
                </div>
            </div>
            <!-- Resource clickers -->
            <section class="section">
                <h1 class="subtitle">Resources</h1>
                <!-- Left side -->
                <div class="level-left">
                    <div v-for="(value, resource) in stats" class="level-item level-left" v-show="clickerAvailable.indexOf(resource) >= 0">
                        <div>
                            <button class="button is-rounded is-primary" v-on:click="addResource(resource)">Add {{resource}}</button>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Unit Section -->
            <section class="section">
                <h1 class="subtitle">Units</h1>
                <!-- Left side -->
                <div class="level-left">
                    <div v-for="unit in units" v-show="unit.isAvailable" class="level-item">
                        <div>
                            <button v-on:click="addUnit(unit)" class="button is-rounded is-primary" v-bind:disabled="!unit.canBuy">Add {{unit.name}}</button>
                            <div class="level-item">
                                <p class="heading">{{unit.costList | stringifyMaterials}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="level-right">
                    <div v-for="unit in units" v-show="unit.isAvailable" class="level-item has-text-centered">
                        <div>
                            <p class="heading">{{unit.getPlural()}}</p>
                            <p class="title">{{unit.quantity}}</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- BOX -->
            <p class="subtitle">Upgrades</p>
            <div class="columns">
                <div v-for="upgrade in upgrades" class="box column is-3">
                    <article class="media is-light">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img :src="'images/icons/' + upgrade.icon" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{upgrade.title}}</strong>
                                    <small>{{upgrade.costList | stringifyMaterials}}</small>
                                    <br>
                                    <button class="button is-rounded is-primary" v-bind:disabled="!upgrade.canBuy">Buy</button>
                                    <br> {{upgrade.description}}
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <!-- SCRIPTS -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script src="scripts/assets.js"></script>
        <script src="scripts/main.js"></script>
</body>

</html>